#print-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 15% 30% 10% 30% 15%;
    grid-template-rows: auto;
}

.print-cluster {
    grid-column: 2 / span 3;
    display: grid;
    grid-template-columns: 35% 25% 40%;
    grid-template-rows: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bold;
    font-size: large;
}

.print-image {
    grid-column: 1 / 1;
    max-width: 90%;
    height: 300px;
    border: 2px solid black;
}

.dish-title {
    grid-column: 2 / 2;
}

.dish-instructions {
    grid-column: 3 / 3;
    font-weight: normal;
    font-size: initial;
}

@media (max-width: 450px) {

    .print-image {
        height: 150px;
        margin-left: 2%;
    }

    .print-cluster {
        grid-column: 1 / span 5;
        font-size: small;
        display: block;
        margin-left: 2%;
    }

    .dish-instructions {
        font-size: small;
    }

    .dish-title {
        font-size: large;
    }
}