#details-container {
    display: grid;
    grid-template-columns: 4% 48% 48%;
    grid-template-rows: auto;
    grid-column-gap: 2%;
}

@media (max-width: 450px) {
    #details-container {
        grid-template-columns: 100%;
        grid-column-gap: 0;
        border: 0;
    }
}

.details-line {
    border-bottom: 2px solid black;
    width: 95%;
    margin: 2%;
}

.details-heading {
    font-size: large;
    font-weight: bold;
    margin-top: 2%;
}

@media (max-width: 450px) {
    .details-heading {
        margin-left: 2%;
    }
}

.details-text {
    font-size: initial;
    font-weight: normal;
}

@media (max-width: 450px) {
    .details-text {
        font-size: small;
    }
}

#details-ingredients {
    grid-column: 3;
    grid-row: 1;
    margin-right: 10%;
    background-color: coral;
    border: 2px solid black;

    display: flex;
    height: auto;
    flex: 1;
    flex-direction: column;
}

@media (max-width: 450px) {
    #details-ingredients {
        grid-column: 1;
        grid-row: 5;
        margin-right: 0;
    }
}

.details-ingredient-dish {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2%;
    margin-left: 3%;
}

.amount {
    grid-column: 1;
}

.ingredient {
    grid-column: 2;
}

#details-ingredient-header {
    grid-column: 1 / span 2;
    grid-row: 1;
    margin-top: 2%;
    margin-left: 3%;
    font-weight: bold;
}

#details-ingredient-footer {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}

#addToMenuBtn {
    /*width: auto;*/
    width: 100px;
}

#details-left-container {
    grid-column: 2;
    grid-row: 1 / span 3;
    max-width: available;
    max-height: available;
}

@media (max-width: 450px) {
    #details-left-container {
        grid-column: 1;
    }
}

.details-image {
    max-width: 100%;
    height: 300px;
    object-fit: contain;
    border: none;
}

#details-image-text {
    font-size: small;
    max-height: 100%;
}

@media (max-width: 450px) {
    #details-image-text {
        margin-left: 2%;
        margin-right: 2%;
        text-align: justify;
    }
}

#details-preparation {
    grid-row: 5;
    grid-column: 2;
}

@media (max-width: 450px) {
    #details-preparation {
        grid-column: 1;
        grid-row: 6;
        text-align: justify;
        margin-left: 2px;
        margin-right: 2px;
        font-size: small;
    }
}

#backToSearchBtn {
    grid-column: 2;
    grid-row: 4;
    width: 150px;
    text-align: center;
}

.backBtn {
    display: inline-block;
    position: relative;
    background: orange;
    padding: 5px;
    margin: 10px;
}

@media (max-width: 450px) {
    #backToSearchBtn {
        grid-column: 1;
    }
}