#details-container {
    display: grid;
    grid-template-columns: 4% 48% 48%;
    grid-template-rows: 50px repeat(2, 300px) 50px 200px;
    grid-column-gap: 2%;
}

#details-heading {
    grid-column: 2;
    grid-row: 1;
    background-color: teal;
    margin-top: 2%;
}

.details-heading {
    font-size: large;
    font-weight: bold;
}

.details-text {
    font-size: initial;
    font-weight: normal;
}

#details-ingredients {
    grid-column: 3;
    grid-row: 1 / span 3;
    background-color: violet;

    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: repeat(10, 50px);
}

#details-ingredient-header {
    grid-column: 1 / span 2;
    grid-row: 1;
    margin-top: 2%;
    font-weight: bold;
}

.amount {
    grid-column: 1;
}

.ingredient {
    grid-column: 2;
}

#details-left-container {
    grid-column: 2;
    grid-row: 2 / span 3;
    max-width: available;
    max-height: available;
}

.details-image {
    max-width: 100%;
    object-fit: contain;
    border: none;
}

#details-image-text {
    font-size: large;
    max-height: 100%;
}

#details-preparation {
    grid-row: 5;
    grid-column: 2 / span 3;
}

#backToSearchBtn {
    grid-column: 2;
    grid-row: 4;
    width: 150px;
    text-align: center;
}