#dishes-container {
    display:flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100%;
    list-style: none;
}

#dishes-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1%;
    text-align: center;
}

.dish-image {
    object-fit: contain;
    border: 3px solid black;
    margin: 0;
    padding: 0;
}

.dish-text {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    margin: 0;
    padding: 0;
}

.dish {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    max-width: 200px;
    max-height: 200px;
}

#toPrintBtn {
    width: 200px;
    background: orange;
    display: inline-block;
    border: 1px solid black;
    margin-bottom: 0.3em;
    margin-right: 0.3em;
    text-align:center;
    box-shadow: 2px 2px black;
}

#toPrintBtn:hover{
    color: black;
    background-color: white;
}

#horiline {
    width: 80%;
    border-bottom: 3px solid darkgray;
    margin: 2%;
}

#vertline {
    border-left: 3px solid darkgray;
    margin: 2%;
}

@media (max-width: 450px) {
    #dishes-items {
        flex-direction: column;
    }
}