.grid-search {
    display: grid;
    width: 100%;
    grid-template-rows: 50px calc(100vh - 50px);
    grid-template-columns: 20% 80%;
    border-left: 2px solid black;
}

#search-dish-button {
    border-right: solid;
    border-bottom: solid;
    cursor: pointer;
    color: #212529;
    background-color: orange;
    border-color: #212529;
    margin-left: 10px;
}

#greyBorder {
    border: 1px solid lightgrey;
}
#displayNone {
    display: none;
}

.flex-between-search1 {
    grid-column: 1 / span 4;
    display: flex;
    justify-content: left;
    padding-left: 50px;
}

.flex-between-search2 {
    grid-column: 1 / span 4;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    border-top: 2px solid black;
}

#dishes-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1%;
    text-align: center;
}

.space {
    padding-left: 10px;
}

@media (max-width: 450px) {
    .grid-search {
        border: 0;
    }

    .flex-between-search1 {
        display: none;
    }

    .flex-between-search2 {
        grid-column: 1 / span 4;
        display: flex;
        margin-left: -5px;
        justify-content: center;
        margin-top: 10%;
        border: 2px solid transparent;
    }
}

