/* This stylesheet only contains general styling */
body {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", serif;
    box-sizing: border-box;
}

.dish-image {
    border: 3px solid black;
    margin: 0;
    padding: 0;
    height: 200px;
    max-width: 100%;
    width: 200px;
}

.dish-text {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    margin: 0;
    padding: 0;
    width: 200px;
}


.container-page-content {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(10, 50px);
}

#container-sidebar {
    grid-column: 1 / span 2;
    grid-row: 2;
}

@media (max-width: 450px) {
    #container-sidebar {
        z-index: 2;
    }
}

#container-404 {
    grid-column: 1 / span 2;
    grid-row: 6;
    font-size: xx-large;
    text-align: center;
}

@media (max-width: 450px) {
    #container-404 {
        font-size: x-large;
    }
}

#container-details {
    grid-column: 2;
    grid-row: 2;
}

@media (max-width: 450px) {
    #container-details {
        grid-column: 1 / span 2;
        grid-row: 3;
        z-index: 1;
    }
}

#container-print {
    grid-column: 1 / span 2;
    grid-row: 3;
}

#container-search {
    grid-column: 2;
    grid-row: 2;
}

@media (max-width: 450px) {
    #container-search {
        grid-column: 1 / span 2;
        grid-row: 3;
        z-index: 1;
    }
}

#container-subheading {
    grid-column: 1 / span 2;
    grid-row: 2;
}

#container-header {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: lightgrey;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
}

#container-overview {
    grid-column: 1 / span 2;
    grid-row: 3;
}

#container-home {
    grid-column: 1 / span 2;
    grid-row: 3;
    font-size: 14px;
}

.main {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

/*
Source for loader: https://www.w3schools.com/howto/howto_css_loader.asp
 */
.spinner {
    z-index: 1;
    border: 16px solid orange; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#container-loader {
    grid-column: 1 / span 2;
    grid-row: 6;
}

#loader-outer {
    display: flex;
    justify-content: center;
}