.dish-image {
    border: 3px solid black;
    margin: 0;
    padding: 0;
    height: 200px;
    max-width: 100%;
    width: 200px;
}

.dish-text {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    margin: 0;
    padding: 0;
    width: 200px;
    color: black;
}

#dishes-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1%;
    text-align: center;
    flex-wrap: wrap;
}

.dish {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
    max-width: 200px;
    max-height: 200px;
}

#updateTitle {
    margin: 20px;
}

#inputDishTitle {
    border: 1px solid lightgrey;
}

.space {
    padding-left: 10px;
}

.displayDishes {
    display: flex;
    flex-wrap: wrap;
}

/*.flex-between-search2 {
    grid-column: 1 / span 4;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    border-top: 2px solid black;
}*/

/*.grid-search {
    display: grid;
    width: 100%;
    grid-template-rows: 50px calc(100vh - 50px);
    grid-template-columns: 20% 80%;
    border-left: 2px solid black;
}

#search-dish-button {
    cursor: pointer;
    background-color: orange;
    margin-left: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px black;
}

#greyBorder {
    border: 1px solid lightgrey;
}

#selectTypeDish {
    border: 1px solid lightgrey;
}

#displayNone {
    display: none;
}

.flex-between-search1 {
    grid-column: 1 / span 4;
    display: flex;
    justify-content: left;
    padding-left: 50px;
}

@media (max-width: 450px) {
    .grid-search {
        border: 0;
    }

    .flex-between-search1 {
        grid-column: 1 / span 4;
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .flex-between-search2 {
        grid-column: 1 / span 4;
        display: flex;
        margin-left: -5px;
        justify-content: center;
        margin-top: 10%;
        border: 2px solid transparent;
        border-top: 2px solid black;
    }
}*/

